html {
  scroll-behavior: smooth;
}
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme {
  --font-sans: "Inter", sans-serif;
  
  --color-brand-blue-50: #F3F6FC;
  --color-brand-blue-100: #E5EFF9;
  --color-brand-blue-200: #C6DAF1;
  --color-brand-blue-300: #94BDE5;
  --color-brand-blue-400: #5B98D5;
  --color-brand-blue-500: #3781C7;
  --color-brand-blue-600: #2863A3;
  --color-brand-blue-700: #1F4F85;
  --color-brand-blue-800: #1E446E;
  --color-brand-blue-900: #193454;
  --color-brand-blue-950: #14263D;

  --color-brand-gold-50: #FBF38C;
  --color-brand-gold-100: #F9E650;
  --color-brand-gold-200: #F7D628;
  --color-brand-gold-300: #F2BD1D;
  --color-brand-gold-400: #D69009;
  --color-brand-gold-500: #B1670C;
  --color-brand-gold-600: #905110;
  --color-brand-gold-700: #764111;
  --color-brand-gold-800: #442204;

  --color-status-red: #F60909;
  --color-status-green: #00B925;
  --color-status-yellow: #FBB23B;
  --color-status-info: #0968F6;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}